@model ClothingStoreApp.Models.PagedProductsViewModel

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
<form method="get" class="d-flex gap-2 mb-4">
    <input type="text" name="search" class="form-control"
           placeholder="Search products..." value="@ViewBag.Search" />

    @if (!string.IsNullOrEmpty(ViewBag.Category))
    {
        <input type="hidden" name="category" value="@ViewBag.Category" />
    }

    <button class="btn btn-dark" type="submit">
        <i class="bi bi-search"></i> Search
    </button>
</form>
@if (!string.IsNullOrEmpty(ViewBag.Search))
{
    <a href="/Product" class="btn btn-secondary btn-sm mb-3">
        Clear Search
    </a>
}

<div class="container my-4">

    <h2 class="fw-bold mb-3">All Products</h2>

    <div class="products-grid">
        @foreach (var p in Model.Products)
        {
            <div class="product-card">
                <div class="product-img-wrapper">
                    <img src="@p.ImageUrl" alt="@p.Name" />
                </div>

                <div class="product-info">
                    <h6 class="fw-bold">@p.Name</h6>
                    <p class="text-muted">₹@p.Price</p>

                    <a href="/Product/Details/@p.Id" class="btn btn-outline-dark btn-sm w-100 mb-2">View</a>
                    <a href="/Cart/Add/@p.Id" class="btn btn-dark btn-sm w-100">Add To Cart</a>
                </div>
            </div>

        }
    </div>

    <!-- Pagination -->
    <nav class="mt-4">
        <ul class="pagination justify-content-center">

            @if (Model.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="/Product/Products?page=@(Model.CurrentPage - 1)">Prev</a>
                </li>
            }

            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                    <a class="page-link" href="/Product/Products?page=@i">@i</a>
                </li>
            }

            @if (Model.CurrentPage < Model.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" href="/Product/Products?page=@(Model.CurrentPage + 1)">Next</a>
                </li>
            }
        </ul>
    </nav>

</div>
